/* GENERICS */

* {
    background-color: white;
    margin:5px;
    padding:5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gray;
    float:left;
    justify-content: center;
}

/* SECTIONS */
header {
    display:flex;
    justify-content: center;
    text-justify: distribute;
    margin: 10px;
    padding:10px;
    background-color: whitesmoke;
    border: 1px solid;
    border-color:  #2f99da;
    border-radius: 5px;
}

nav {
    display: inline-block;
}

h3 {
    font-size: small;
    font-style:italic;
    margin-top: 50px;
    color: #2f99da;
}

h2 {
    font-size:larger;
}

h6 {
    font-style:italic;
    margin-top: 0px; 
}

div {
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
/* UTILITIES */
img {
    height: 300px;
    width: 225px;
    border-style: dashed;
    border-radius:10px;
    margin: 25px;
    box-shadow: 5px 4px 10px #2f99da;
}

a {
    margin: 20px 20px auto;
    padding: 5px;
    width: 85px;
    text-align: center;
    text-decoration: none;
    box-shadow: 5px 4px 10px #2f99da;
}
